<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand my-2 mr-5">Bienvenido, {{datos.name}}</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/productos'">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/carrito'">Carrito</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Más...
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Ayuda</a></li>
                        <li><a class="dropdown-item" onclick="location.href='/admin'">Manejo de productos -admin</a>
                        </li>
                        <li><a class="dropdown-item" onclick="location.href='/profile'">Configuracion de perfil</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div class="d-flex"><button class="btn btn-danger" onclick="location.href='/logout'">LOGOUT</button></div>
</nav>

<div class="container-fluid justify-content-center">
    <div class="card mb-3 my-5" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{datos.name}}</h5>
                    <p class="card-text">Email: {{datos.email}}</p>
                    <p class="card-text">Direccion: {{datos.address}}</p>
                    <p class="card-text">Age: {{datos.age}}</p>
                    <p class="card-text">Telefono: {{datos.phone}}</p>
                </div>
            </div>
        </div>
    </div>
</div>